.App {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: #F5DEB3
}

.bacon-container {
  display: flex;
  flex-direction: column;

  h1 {
    font-family: 'Rock Salt', cursive;
  }

  img {
    width: 85%;
    height: 600px;
    margin: 0 auto;
  }
}

.content-container {
  display: inline-block;
  margin: 0 2% 4% 2%;


  h4 {
    font-family: 'Rock Salt', cursive;
  }

  button {
    background-color: #FFE4C4;
    border: 1px solid #F4A460;
    border-radius: .25rem;
    box-shadow: inset 0 0 8px #A52A2A;
    color: #A52A2A;
    margin: 2%;
    padding: .5%;
  }

  button:hover {
    background-color: #A52A2A;
    box-shadow: inset 0 0 8px #F4A460;
    color: #FFE4C4;
  }

  p {
    margin: 0 auto;
  }

}